* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.NewBookButtonContainer {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.addBook {
    background-color: rgb(24, 237, 24);
    font-size: 1.5rem;
    border-style: none;
    padding: 1rem;
    border-radius: 8px;
}

.addBook:hover {
  background-color: rgb(18, 190, 18);
  cursor: pointer;
}

.bookCard button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.container {
    padding: 2em;
}

.bookCard {
    border-style: solid;
    border-width: 0 0 0 8px;
    border-color: yellowgreen;
    border-radius: 8px;
    padding: 2em;
    
}

.buttondiv {
    display: flex;
    gap: 1rem;
}

.bookCard.read {
    background-color: #e0ffe0; 
    border-color: green;
    color: #2f6f2f;
    transition: background-color 0.3s ease;
}
